<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>

</head>
<body>

    <!-- footer start -->
    <footer>
        <div class="footer-container">
          <div class="footer-column left">
            <img src="/img/JSR.jpg" alt="JSR logo" class="footer-logo" />
            <h3>JSR Librería</h3>
            <ul>
              <li><strong>Acerca de JSR Librería</strong></li>
              <li>Nosotros</li>
              <li>Ventas Corporativas</li>
              <li>Ofertas</li>
            </ul>
          </div>
  
          <div class="footer-column center">
            <h3>Atención al Cliente</h3>
            <ul>
              <li>Contáctanos</li>
              <li>Comprobantes Electrónicos</li>
              <li>Políticas de descuentos y promociones</li>
              <li>Términos y Condiciones</li>
              <li>Cambios y Devoluciones</li>
              <li>Políticas de Privacidad</li>
              <li>Políticas de Cookies</li>
            </ul>
  
            <h3>JSR Club</h3>
            <ul>
              <li>Registro</li>
              <li>Beneficios exclusivos</li>
              <li>Canjea tus puntos</li>
            </ul>
          </div>
  
          <div class="footer-column right">
            <h3>Proveedores</h3>
            <ul>
              <li>Portal para proveedores</li>
              <li>Clientes con contrato</li>
            </ul>
  
            <h3>Promociones de libros</h3>
            <ul>
              <li>Descuentos en libros</li>
              <li>Promociones temporada escolar</li>
            </ul>
  
            <h3>Libro de Reclamaciones</h3>
            <img
              src="/img/misc/libro-reclamaciones.png"
              alt="Libro de Reclamaciones"
              class="footer-img"
            />
  
            <p>
              JSR es una librería y distribuidora de libros académicos, novelas,
              material educativo y útiles escolares en el Perú.
            </p>
          </div>
        </div>
  
        <div class="footer-bottom">
          <p>
            © Derechos de autor 2025 JSR Librería. Todos los derechos reservados
          </p>
          <p>
            Desarrollado por Samuel Bonifacio
          </p>
        </div>
    </footer>
    <!-- footer end -->

</body>
</html>