<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
  </head>
  <body>
    <!-- footer start -->
    <footer>
      <div class="footer-container">
        <div class="footer-column left">
          <img src="/img/JSR.jpg" alt="JSR logo" class="footer-logo" />
          <h3>JSR Librería</h3>
          <ul>
            <li><strong>Acerca de JSR Librería</strong></li>
            <li><a href="/html/sobrenosotros.html">Nosotros</a></li>
            <li><a href="/html/catalogo.html">Ofertas</a></li>
          </ul>
        </div>

        <div class="footer-column center">
          <h3>Contacto</h3>
          <ul>
            <li>
              <strong>Ubicación:</strong> Jr. Tacna 3100, Urb. Perú, San Martín
              de Porres
            </li>
            <li>
              <strong>WhatsApp:</strong>
              <a
                href="https://wa.me/999451887"
                target="_blank"
                rel="noopener"
                class="whatsapp-message"
                >999451887</a
              >
            </li>
            <li><strong>Contacto:</strong> jsrlibrerias@gmail.com</li>
            <li><strong>Horario:</strong></li>
            <li>Lunes - Sábado: 08:30am - 7:30pm</li>
            <li>Domingos: 09:00am - 7:00pm</li>
          </ul>

          <h3>Dudas</h3>
          <ul>
            <li><a href="/html/sobrenosotros.html">Preguntas Frecuentes</a></li>
            <li>
              <a
                href="https://wa.me/51999451887?text=Hola!%20deseo%20hacer%20un%20pedido%20desde%20la%20página%20web"
                target="_blank"
                rel="noopener"
                class="whatsapp-message"
                >Whatsapp</a
              >
            </li>
          </ul>
        </div>

        <div class="footer-column right">
          <h3>Servicios</h3>
          <ul>
            <li><a href="/html/impresiones.html">Impresiones</a></li>
            <li><a href="/html/maquetas.html">Maquetas</a></li>
            <li>
              <a href="/html/investigaciones.html"
                >Investigaciones Académicas</a
              >
            </li>
          </ul>

          <h3>Libro de Reclamaciones</h3>
          <img
            src="/img/misc/libro-reclamaciones.png"
            alt="Libro de Reclamaciones"
            class="footer-img"
          />

          <p>
            JSR es una librería & distribuidora de útiles escolares y servicio
            de impresiones, maquetas e investigaciones académicas.
          </p>
        </div>
      </div>

      <div class="footer-bottom">
        <p>
          © Derechos de autor 2025 Librería JSR. Todos los derechos reservados
        </p>
      </div>
    </footer>
    <!-- footer end -->
  </body>
</html>
