<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header-nav</title>

    <link rel="stylesheet" href="/partials/headernav.css" />
  </head>
  <body>
    <!--header nav start-->
    <header class="header-nav">
      <ul class="nav-list">
        <li>
          <a href="/html/catalogo.html" class="active">LOS MÁS VENDIDOS</a>
        </li>
        <li><span class="separator">|</span></li>

        <!--seccion UTILES-->
        <li class="dropdown">
          <a href="#" class="dropbtn">UTILES</a>
          <div class="dropdown-content">
            <a href="#">ESCOLAR</a>
            <a href="#">OFICINA</a>
            <a href="#">UNIVERSITARIO</a>
            <a href="#">ZONA DE LECTURA</a>
            <a href="#">ARTE Y DISEÑO</a>
            <a href="#">BORRADORES</a>
            <a href="#">CORRECTORES</a>
            <a href="#">CRAYONES Y ÓLEOS</a>
            <a href="#">LÁPICES</a>
            <a href="#">MARCADORES</a>
            <a href="#">PLUMONES INDELEBLES</a>
            <a href="#">PLUMONES PARA PIZARRA</a>
            <a href="#">REGLAS</a>
            <a href="#">TIJERAS</a>
          </div>
        </li>
        <li><span class="separator">|</span></li>

        <!--seccion ESCRITORIO-->
        <li class="dropdown">
          <a href="#" class="dropbtn">ESCRITORIO</a>
          <div class="dropdown-content">
            <a href="#">ARCHIVADORES</a>
            <a href="#">DISPENSADORES</a>
            <a href="#">POSITS</a>
            <a href="#">CLIPS Y CHINCHES</a>
            <a href="#">PERFORADORAS</a>
            <a href="#">ENGRAPADORAS Y GRAPAS</a>
            <a href="#">CINTAS ADHESIVAS</a>
            <a href="#">ORGANIZADORES DE ESCRITORIO</a>
          </div>
        </li>
        <li><span class="separator">|</span></li>

        <!--seccion MOCHILAS-->
        <li class="dropdown">
          <a href="#" class="dropbtn">MOCHILAS Y ACCESORIOS</a>
          <div class="dropdown-content">
            <a href="#">MOCHILAS</a>
            <a href="#">CARTUCHERAS</a>
            <a href="#">LONCHERAS</a>
            <a href="#">MALETAS</a>
          </div>
        </li>
        <li><span class="separator">|</span></li>

        <!--seccion PAPLERIA-->
        <li class="dropdown">
          <a href="#" class="dropbtn">PAPELERIA</a>
          <div class="dropdown-content">
            <a href="#">CARTONES</a>
            <a href="#">CARTULINAS</a>
            <a href="#">PAPEL CELOFAN</a>
            <a href="#">PAPEL FOTOCOPIA</a>
            <a href="#">PAPEL FOTOGRAFICO</a>
            <a href="#">PAPELES ADHESIVOS</a>
          </div>
        </li>
        <li><span class="separator">|</span></li>

        <!--seccion ARCHIVO-->
        <li class="dropdown">
          <a href="#" class="dropbtn">ARCHIVO</a>
          <div class="dropdown-content">
            <a href="#">CARPETAS Y ARCHIVADORES</a>
            <a href="#">FOLDERES ESCOLARES</a>
          </div>
        </li>
        <li><span class="separator">|</span></li>

        <!--seccion TECNOLOGIA-->
        <li class="dropdown">
          <a href="#" class="dropbtn">TECNOLOGIA</a>
          <div class="dropdown-content">
            <a href="#">CALCULADORAS</a>
            <a href="#">ACCESORIOS PARA COMPUTADORA</a>
            <a href="#">MOUSE Y TECLADOS</a>
            <a href="#">CARGADORES</a>
            <a href="#">MEMORIAS USB</a>
            <a href="#">AUDIFONOS Y PARLANTES</a>
            <a href="#">ACCESORIOS VARIOS</a>
          </div>
        </li>
        <li><span class="separator">|</span></li>

        <!--seccion BELLEZA-->
        <li class="dropdown">
          <a href="#" class="dropbtn">BELLEZA</a>
          <div class="dropdown-content">
            <a href="#">PERFUMES</a>
            <a href="#">MAQUILLAJE</a>
            <a href="#">TINTES</a>
            <a href="#">ESPEJOS</a>
            <a href="#">CUIDADO PERSONAL</a>
          </div>
        </li>
        <li><span class="separator">|</span></li>

        <!--seccion LECTURA-->
        <li class="dropdown">
          <a href="#" class="dropbtn">LECTURA</a>
          <div class="dropdown-content">
            <a href="#">BIBLIAS</a>
            <a href="#">LIBROS ESCOLARES</a>
            <a href="#">PLAN LECTOR</a>
            <a href="#">TEXTOS ESCOLARES</a>
            <a href="#">DE CULTO</a>
          </div>
        </li>
        <li><span class="separator">|</span></li>
      </ul>
    </header>
    <!--header nav end-->
  </body>
</html>
