<!--quick-view modal start-->
<div class="modal-overlay" id="quickViewModal">
  <div class="modal-content">
    <span class="modal-close" id="modalClose">&times;</span>
    <div class="modal-left">
      <img class="main-image" id="modalMainImage" src="" alt="Producto" />
      <div class="thumbnail-gallery" id="modalThumbnails">
        <!--dynamic images-->
      </div>
    </div>
    <div class="modal-right">
      <div class="product-title" id="modalProductTitle"></div>
      <div class="discount" id="modalDiscount"></div>
      <div class="brand" id="modalBrand"></div>
      <div class="price">
        <span class="original" id="modalOriginalPrice"></span>
        <span class="discounted" id="modalDiscountedPrice"></span>
      </div>
      <div class="quantity">
        <span>Cantidad: </span>
        <button onclick="changeQuantity(-1)">-</button>
        <input type="number" id="modalQuantity" value="1" min="1" />
        <button onclick="changeQuantity(1)">+</button>
      </div>
      <div class="actions">
        <button class="add-to-cart" onclick="handleModalAddToCart(event)">Añadir al Carrito</button>
        <button class="buy-now">Comprar Ahora</button>
      </div>
    </div>
  </div>
  <script src="js/shop.js"></script>
</div>
<!--quick-view modal end-->
